@media screen and (max-width: 576px) {

    /* header navbar section starts*/
    .header-navbar-container {
        width: 85%;
    }

    .navbar-menu-container {
        display: none;
    }

    .bars-icon {
        color: #FFFFFF;
        display: inline;
        cursor: pointer;
        font-size: 22px;
    }


    /* Header banner css starts*/
    .header-banner-container {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .header-banner-left-side-contents {
        width: 100%;
        margin-bottom: 40px;
    }

    .header-banner-left-side-contents h1 {
        font-size: 2rem;
        padding-right: 90px;
    }

    .header-banner-left-side-contents span {
        font-size: 4rem;
    }

    .header-left-side-btn {
        display: flex;
        justify-content: space-between;
    }

    .fill-color-btn {
        font-size: 0.8rem;
        padding: 14px 36px;
    }

    .stroke-color-btn {
        font-size: 0.8rem;
        padding: 14px 36px;
    }

    .header-banner-right-side-contents {
        width: 100%;
        position: relative;
    }

    .header-banner-right-img {
        width: 100%;
        display: block;
    }

    .first-box {
        font-size: 1.7rem;
        position: absolute;
        top: 40px;
        right: 12px;
    }

    .first-box p {
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.5rem;
        font-weight: 400;
    }

    .second-box {
        padding: 13px 18px;
        position: absolute;
        bottom: 250px;
        left: 10px;
    }

    /* habits section starts */
    .habit-section-container {
        width: 85%;
        margin-bottom: 50px;
    }

    .habit-section-texts {
        padding: 0px;
    }
    .habit-section-texts h1{
        font-size: 2rem;
    }
    .four-things-container {
        display: flex;
        flex-direction: column;
    }
    .four-things-content h5{
        margin-top: 20px;
    }
    .four-things-content p{ 
        padding: 0px 70px;
        margin-bottom: 40px;

    }
    
}


/* habits section ends */
@media screen and (max-width: 576px) {
    .extra-mile {
		gap: 30px;
		padding: 20px;
	}
	.chart-and-form {
		flex-direction: column;
	}

	form input[type="number"] {
		width: 100%;
	}
}

@media all and (max-width: 460px) {
	.dropdown > #check:checked ~ .menu {
		display: block;
	}
	.header {
		position: relative;
	}
	.header-item {
		display: inline-block;
	}

	.menu {
		display: none;
		position: absolute;
		width: 100%;
		top: 50px;
	}
	.menu ul {
		flex-direction: column;
	}
	.dropdown {
		display: block;
		color: var(--primary);
		cursor: pointer;
		text-align: right;
		float: right;
	}
	.habit-item {
		width: 100%;
		padding: 50px;
	}
	.extra-mile-text {
		gap: 20px;
	}
	.extra-mile {
		flex-direction: column;
	}
	.training-and-exp .section-title,
	.training-and-exp .section-subtitle {
		text-align: left;
	}
	.gallery {
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: repeat(2, 150px);
		padding: 0;
	}
	.gallery-item {
		max-width: 100%;
	}
	.item-1 {
		grid-column-start: 1;
		grid-column-end: 8;
	}
	.item-2 {
		grid-column-start: 8;
		grid-column-end: 16;
	}
	.item-4 {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	.item-5 {
		grid-column-start: 7;
		grid-column-end: 16;
	}
	.gallery .item-3,
	.item-6 {
		display: none;
	}
	.team {
		grid-template-columns: repeat(1, 1fr);
	}
	.form .section-subtitle {
		text-align: left;
	}
	form input::placeholder,
	select {
		font-size: 13px;
	}
}
@media all and (max-width: 637px) {
	.badge-tutorial {
		transform: translate(-85%, -124%);
	}
}
@media all and (max-width: 393px) {
	.badge-workout {
		transform: translate(100%, 124%);
	}
}

@media all and (max-width: 375px) {
	.hero-buttons {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
	.badge-workout {
		transform: translate(107%, 130%);
		width: 154px;
		height: 75px;
	}
	.badge-tutorial {
		width: 154px;
		height: 75px;
	}
	.badge-tutorial p,
	.badge-workout p {
		font-size: 12px;
		white-space: nowrap;
	}


}


